html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_background {
    background-image: url("/static/app/images/leaves.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photomain_background {
	background-image: url("/static/app/images/photographymain.jpg");
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.opacity_75 {
	opacity:0.75;
}

.navbar_padding{
	padding-bottom:1000px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.welcome_banner {
	margin-top: 25vh;
	margin-bottom: 25vh;
}

.float_bio {
	margin-top: 25vh;
	margin-right:5vh;
	float: right;
	width:50%;
}

@media (max-width:600px){
	.float_bio {
		margin-top: 25vh;
		float:none;
		width: 80%;
		text-align:center;
	}
}

