html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_background {
    background-image: url("/static/app/images/leaves.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photomain_background {
	background-image: url("/static/app/images/photographymain.jpg");
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.designmain_background {
	background-image: url("/static/app/images/designmain.jpg");
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.opacity_75 {
	opacity:0.75;
}

.navbar_padding{
	padding-bottom:1000px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.welcome_banner {
	margin-top: 25vh;
	margin-bottom: 20vh;
}

.float_bio_right {
	margin-top: 25vh;
	margin-right:5vw;
	float: right;
	width: 50%;
}

@media (max-width:600px){
	.float_bio_right {
		margin-top: 25vh;
		float: none;
		width: 90%;
		text-align: center;
	}
}
.float_bio_left {
	margin-top: 25vh;
	margin-left: 5vw;
	float: left;
	width: 50%;
}

@media (max-width:600px) {
	.float_bio_left {
		margin-top: 25vh;
		float: none;
		width: 90%;
		text-align: center;
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	margin-top: 0px;
}


