html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_background {
    background-image: url("/static/app/images/leaves.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}