{% extends "app/layout.html" %}

{% block content %}


<!--<div class="welcome_main">
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'photos' %}"><h1 align="center">Photos</h1></a>
            <h3 align="center">My photography portfolio. </h3>        
        </div>
        <div class="col-md-4">
            <a href="{% url 'design' %}"><h1 align="center">Design</h1></a>
            <h3 align="center">My design portfolio.</h3>
        </div>
        <div class="col-md-4">
            <a href="{% url 'about' %}"><h1 align="center">About</h1></a>
            <h3 align="center">About me and my website.</h3>      
        </div>
    </div>
</div> -->

{% endblock %}
