{% extends "app/layout.html" %}

{% block content %}


<div class="welcome_main">
    <h1 align="center">Welcome!</h1>
</div>
  
<div class="row">
    <div class="col-md-4">
            <a href="{% url 'photos' %}"><h2 align="center">Photography</h2></a>
        <p align="center">My photography portfolio. </p>        
    </div>
    <div class="col-md-4">
        <a href="{% url 'design' %}"><h2 align="center">Design</h2></a>
        <p align="center">My design portfolio.</p>
    </div>
    <div class="col-md-4">
        <a href="{% url 'about' %}"><h2 align="center">About</h2></a>
        <p align="center">About me and my website.</p>      
    </div>
</div>


{% endblock %}
