{% extends "app/layout.html" %}

{% block content %}

<div class="container-fluid text-center text-white welcome_banner">
    <h1>Hi!</h1>
    <h1>Welcome to my portfolio.</h1>
</div>

<div class="container-fluid text-center text-white">
  <div class="row">
    <div class="col-sm nav-link">
      <a href="{% url 'photos' %}"><h2 class="nav-link text-white">Photography</h2></a>
    </div>
    <div class="col-sm nav-link">
      <a href="{% url 'design' %}"><h2 class="nav-link text-white">Design</h2></a>
    </div>
    <div class="col-sm">
      <a href="{% url 'about' %}"><h2 class="nav-link text-white">About</h2></a>
    </div>
  </div>
</div>


{% endblock %}
