<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
    {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="{{ background }}">
    <nav class="navbar navbar-expand-md {{navbarcolor}} fixed-top container-fluid {{textcolor}}">
        <a class="navbar-brand" href="{% url 'home' %}">Jared Knott</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-split" href="{% url 'photos' %}" id="dropdown04" aria-haspopup="true" aria-expanded="false">Photography</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="{% url 'people' %}">People</a>
                <a class="dropdown-item" href="{% url 'weddings' %}">Weddings</a>
                <a class="dropdown-item" href="{% url 'places' %}">Places</a>
            </div>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-split" href="{% url 'design' %}" id="dropdown04" aria-haspopup="true" aria-expanded="false">Design</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="{% url 'hardware' %}">Hardware</a>
                <a class="dropdown-item" href="{% url 'software' %}">Software</a>
            </div>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
        </ul>
        <a class="nav-link btn btn-secondary btn-sm opacity_75" href="#">Client Login</a>
        </div>
    </nav>


    {% block content %}{% endblock %}



    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; {{ year }} - Jared Knott</span>
      </div>
    </footer>

</body>
</html>
