{% extends "app/layout.html" %}

{% block content %}

<div class="container float_right_bio">
    <div class="row">
        <div class="col">            
            <h1>Photography is an adventure</h1>
            <p>This is my story as a photographer.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>People</p>
        </div>
        <div class="col">
            <p>Places</p>
        </div>
        <div class="col">
            <p>Weddings</p>
        </div>
    </div>
</div>

{% endblock %}
    