{% extends "app/layout.html" %}

{% block content %}

<div class="container float_bio_right {{textcolor}}">
    <div class="row">
        <div class="col">            
            <h1>Photography is an adventure</h1>
            <p>I stumbled into photography {{ start }} years ago. On a business trip to San Jose, California I decided I wanted to remember it with better quality than my phone could provide. 
            I bought my first Canon Rebel T5 and proceeded to take terrible pictures. The purpose was defeated but the seeds of my obsession were planted.
            <br/>
            That obsession has grown into a hobby that compels me to explore...
            <br/>
            These are my images...
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'people' %}"><h2 class="nav-link {{textcolor}}">People</h2></a>
        </div>
        <div class="col">
            <a href="{% url 'places' %}"><h2 class="nav-link {{textcolor}}">Places</h2></a>
        </div>
        <div class="col">
            <a href="{% url 'weddings' %}"><h2 class="nav-link {{textcolor}}">Weddings</h2></a>
        </div>
    </div>
</div>

{% endblock %}
    